@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
.neweventmain{
    width:100vw;
    height:100vh;
    /* overflow: hidden; */
    user-select: none;
}
.neweventmain::-webkit-scrollbar{
    display: none !important;
    width: 0 !important;
}
.newbgevimg{
    width:100vw;
    /* overflow-y: hidden; */
    position: absolute;
    z-index: -1;
}
.newbgevimg::-webkit-scrollbar{
    display: none !important;
    width: 0 !important;
}
.newevpgtitle{
    margin-top:5vh;
    display: flex;
    justify-content: center;
    width:100vw;
    height:70vw;    
}
.newtitlewrapp{
    height:50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.newtitlewrapp h3{
    font-family: Salsa;
    font-size: 3.5vw;
    color:#00522b;
    -webkit-text-stroke: 0.1px white;

}
.newtitlewrapp h1{
    font-family: Boeckline;
    font-size: 15vw;
    color:#2b4a5c;
    -webkit-text-stroke: 0.1px white;
}
.newtitlewrapp button{
    background-color: #2b4a5c;
    font-family: Salsa;
    padding:5px 10px;
    font-size: 2.5vw;
    color:white;
    border: 4px solid white;
    border-radius: 10px;
}
.newallevents{
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.newalltitlediv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3vw;
}
.newallevents h1{
    font-family: Boeckline;
    font-size: 10vw;
    color:#2b4a5c;
    -webkit-text-stroke: 0.1px white;
}
.textdecimg{
    width:12vw;
}