 .popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    width: 400px;
    max-width: 80%;
  }
  
  .poplabel {
    display: block;
    margin: 1rem 0;
  }
  
  .popLabel {
    width: 95% !important;
    padding: 0.5rem;
    margin-top: 0.5rem;
  }
  .popSelect {
    width: 99% !important;
    padding: 0.5rem;
    margin-top: 0.5rem;
  }
  
  .popbutton {
    padding: 0.7rem 1.5rem;
    margin: 0.5rem;
    cursor: pointer;
  }
   
   .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius:10px;
  }
  /* .popwrap{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
  } */
  
  .popup_inner {
    display: flex;
    flex-direction: column;
  }
  
  .popup_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .popup_buttons button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .popup_buttons button:hover {
    background-color: #0056b3;
  }
  